* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1
section h2
section h3{
    font-family: "Oswald", sans-serif;
}

body,
form button,
input,textarea{
    font-family: "Montserrat", sans-serif;
}

header{
    padding: 16px 0px;
    background-color:rgb(116, 24, 24);
    color: rgb(211, 211, 211);
}

header h1,
section h2{
    font-weight: 500;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: rgb(211, 211, 211);
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 32px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
    color: rgb(116, 24, 24);
}

section{
    color:black;
}

section p {
    margin-bottom: 8px;
}

.store {
    margin-right: 32px;
}

.social img{
    height: 24px;
}

.social li{
 display: inline;
 margin-right: 8px;
}

.social li a{
    text-decoration: none;
}
#suporte .container{
    display: block;
}

#suporteinfo{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color:rgb(116, 24, 24) ;
    color:rgb(211, 211, 211);
    border: none;
    font-weight: 600;
    cursor: pointer;
}

form button:hover{
    background-color:rgb(170, 35, 35) ;
}

footer{
    outline-color:rgb(116, 24, 24);
    color:rgb(211, 211, 211);
    padding: 16px 0px;
    background-color:rgb(116, 24, 24) ;
}